html {
  font-family: sans-serif;
}

body {
  max-width:860px;
  min-width:480px;
  margin:0 auto;
  padding:0;
}

.header {
  border-radius:10px;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:30px;
  padding-left:30px;
  background-color: #ffd3c7;
}
.header > h1 {
  font-size: 3em
}

.header > p {
  text-align:right;
  font-size: 1.2em;
}

.footer {
  border-radius:10px;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:30px;
  padding-left:30px;
  background-color: #ffd3c7;
}
table {
  margin-top:100px;
  margin-bottom:100px;
}
table > caption {
  font-family:'arial unicode ms';
  font-size: 2em;
}
